<!doctype html>
<html>

<head>
    <title>Education</title>
    <link rel="stylesheet" href="{{url_for('static', filename='table.css')}}" />
</head>

<body>
    <section>
        <!--for demo wrap-->
        <h1>Education</h1>
        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th>Candidate Name</th>
                        <th>School Name</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>Phone</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>

                    {% for row in rows %}
                    <tr>
                        <td>{{row["user_first_name"]}}</td>
                        <td>{{row["school_name"]}}</td>
                        <td> {{row["city"]}}</td>
                        <td>{{row["country"]}}</td>
                        <td>{{row["phone"]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- Channels -->
        <div class="channels3">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('main_page_tree') }}">Link Tree</a>
        </div>
    </section>
</body>

</html>